body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ede8e8;
  text-align: center;
}

header {
  background: #0c0a0a;
  color: white;
  padding: 30px;
}

section {
  margin: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  animation: pulse 1.5s infinite;
}

nav {
  background-color: #444;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}
.animated-btn {
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.animated-btn:hover {
  background-color: #ff6347; /* changes color */
  transform: scale(1.1);      /* slightly bigger */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* adds shadow */
}
.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  border-radius: 8px;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

img {
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  max-width: 100%;  /* responsive */
  height: auto;
  display: block;
  margin: 20px auto;
}
