body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #ede8e8;
  text-align: center;
}

header {
  background: #0c0a0a;
  color: white;
  padding: 30px;
}

section {
  margin: 40px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  animation: pulse 1.5s infinite;
}

nav {
  background-color: #444;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}
